#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  margin-bottom: 15px;
  margin-top: -15px;
  font-size: 18px;
  color: black;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 4px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  border-color: white;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.friends-screen__channel .user-component {
  margin-top: 10px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #1b1b1b;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  animation: hideSplashScreen 2.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.friends-screen__friends {
  margin-top: 35px;
  border-top: var(--main-border);
  border-color: white;
}

.friends-screen__friends .friends-screen__channel-header {
  margin-top: 18px;
}

/*https://img6.yna.co.kr/etc/inner/KR/2020/02/03/AKR20200203081800009_01_i_P2.jpg*/
